
<%- include ('include/_header.ejs') -%> 

<div class="container mt-5 w-50">
    <h2 class="mb-4">Add new Employee</h2>

    <form action="/employee/add-new" method="POST">
        <input type="text" name="name" class="form-control" placeholder="Employee name">
        <input type="text" name="designation" class="form-control my-3" placeholder="Employee Designation">

        <input type="text" name="salary" class="form-control " placeholder="Employee Salary">
      

        <button type="submit" class="btn btn-success btn-block mt-2 box-shadow mt-3">
            Add
        </button>

    </form>





</div>


<%- include ('include/_footer.ejs') -%> 