.myfont {
    font-size:1.5rem;
    font-weight:500;
    word-spacing:3px;
}


.box-shadow {
    box-shadow: 0 0.375em 0 black;
    cursor:pointer;
    
}

.floatleft {
    float:left;
    
}

table{
    text-align: center;
}


tr > th {
    text-align: center;
}