.myfont {
    font-size:1.3rem;
    font-weight:500;
    word-spacing:3px;
    color:white;
}


.box-shadow {
    box-shadow: 0 0.375em 0 black;
    cursor:pointer;
    
}

.floatleft {
    float:left;
    
}

table{
    text-align: center;
    
    box-shadow: 10px 1em 5px black;
}


tr > th {
    text-align: center;
    
}

body {
    background: rgb(101,58,180);
background: linear-gradient(90deg, rgba(101,58,180,1) 20%, rgba(29,82,253,1) 50%, rgba(69,252,241,1) 100%);
}

.search-text {
    color:white;
}