<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee DB System</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
    <nav class="p-4 navbar navbar-expand-lg navbar-dark bg-dark myfont">
        <a class="navbar-brand" href="/">
            <img src="/img/Dario-Arnaez-Genesis-3G-User-Files.ico" height="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

            <div class="mr-5">
                <ul class="navbar-nav mr-auto mr-0">

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/employee/add-new">
                            <i class="fas fa-user-plus p-2 rounded" style="border:1px solid white;">Add  Employee</i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/employee/search">
                            <i class="fas fa-search p-2 rounded" style="border:1px solid rgba(255, 255, 255, 0.733); "> Search</i></a>
                    </li>
                </ul>
            </div>

        </div>
      </nav>
